.button {
    background-color: #eebbc3 !important;
    color: #232946 !important;
    font-family: monospace !important;
    font-size: larger !important;
    font-weight: 600 !important;
    margin: 10px !important;
}

.add-task {
    background: rgb(238 255 238 / 30%) !important;
    color: white !important;
    font-weight: 900;
    font-size: 20px;
}
.main-container{
     background-color: hsl(228deg 14% 93%) !important;
     border-radius: 10px;
     padding: 20px !important;
     width: 25% !important;
     float: left !important;
     margin: 20px !important 
 }

 .card {
     background-color: #fffffe !important;
     padding: 10px;
     border-radius: 5px;
     margin:10px;
 }

 .icons {
     float: right
 }

 .heading, .MuiTypography-h6 {
    color: hsl(218deg 29% 31%) !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    font-family: monospace !important;
 }

 .title {
    color: hsl(218deg 29% 31%);
    font-size: 20px;
    font-weight: 900;
    font-family: monospace;
 }

 .content {
    color: hsl(218deg 29% 31%);
    font-size: 15px;
    padding-top: 15px;
    font-weight: 900;
    font-family: monospace;
 }

 .MuiDialog-paper {
     padding: 70px;
 }

 .MuiDialog-paperScrollPaper{
    background-color: #b8c1ec;
 }

 .MuiInput-underline{
    width: 125px;
 }

 .modal-container{
     margin: 20px;
 }